html {
    box-sizing: border-box;
    text-
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-3{
    margin-left: 0px;
    margin-right: 0px;
}
[class*="col-"] {
    padding: 15px;
}





body {
    background-color: #65b7fe;
}

.navigation-bar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0px 15px 0px;
    
}

.nav-button{
    background-color: #0080ff;
    border-radius: 5px;
    float: right;
    margin: 5px 10px 5px 10px;
    padding: 8px 16px 8px 16px;
    color: white;
    text-decoration: none;

}

.form-wrapper{
    background-color: white;
    padding: 15px 25px 15px 25px;
    margin: 0 auto;
    margin-top: 140px;
    border-style: inset;
    border-width: 0px 3px 3px 0px;
    border-color: #c5c4c5;
    border-radius: 3px;
    width: 25%;
    text-align: center;
}

.form-wrapper h1{
    float: left;
    font-size: 25px;
}

.top-input{
    border-style: inset;
    border-width: 2px 1px 1px 2px;
    border-color: #c5c4c5;
    border-radius: 3px;
    width: 95%;
    color: #d0d1d0;
}

.bottom-input{
    border-style: inset;
    border-width: 1px 1px 2px 2px;
    border-color: #c5c4c5;
    border-radius: 3px;
    width: 95%;
    color: #d0d1d0;
}

#submit-button{
    background-color: #0080ff;
    border-radius: 3px;
    position: relative;
    margin: 0 auto;
    padding: 8px 16px 8px 16px;
    color: white;
    text-decoration: none;
    width: 100%;

}

.form-image{
    object-fit: cover;
    border-radius: 50px;
    height: 35px; 
    width: 35px; 
    border-radius: 10px;

}

.form-image-link{
    text-decoration: none;
}